.container{
    width: 450px;
    height: 600px;
    border: 1px solid red;
    margin: auto;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}
input{
    width: 80px;
    height: 60px;
    margin: 5px 5px 5px 5px;

}
.wrapper{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-basis: 100%;
    flex-direction: row;


}
.display{
    width: 400px;
    height: 50px;
    margin-left: 20px;
    margin-bottom: 150px;
}
