#container{
    width: 400px;
    height: 600px;
    border: 1px solid red;
    margin: auto;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
}
button{
    width: 75px;
    height: 75px;
}
#num3 , #num6{
    display: block;
}